*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: crimson;
  opacity: 0.7;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  width: 90%;
  /* border: 1px solid black; */
  margin: 2.5vh auto;
  height: 95vh;
}

#delete-all {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 1rem;
}

main {
  width: 100%;
  max-width: 850px;
  margin: auto;
}

.Header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
  padding-bottom: 2.5vh;
}

.Header span {
  font-size: 1.5rem;
  padding-left: 2rem;
}

.Inputform {
  width: 100%;
}

.Input {
  height: 2.5rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.2rem;
  color: #777;
}

.List {
  list-style: none;
  margin-top: 1rem;
}

.Item {
  display: flex;
  align-items: center;
  height: 2.5rem;
  border: 1px solid #ccc;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #eee;
}

.item-container {
  width: 80%;
}

.item-container:hover {
  cursor: pointer;
}

.icon-container {
  display: none;
  width: 20%;
}

.show-icons {
  display: flex;
  justify-content: flex-end;
}

.icon-container.show-icons > div:last-of-type {
  margin-left: 0.8rem;
}

.icon-container.show-icons > div:first-of-type {
  padding-left: 0.8rem;
}

i:hover {
  cursor: pointer;
}

.cross-checked {
  text-decoration: line-through;
  opacity: 0.6;
}

.crimson {
  color: crimson;
}

.orange {
  color: orange;
}

@media (max-width: 420px) {
  .Input,
  .Item {
    font-size: 0.8rem;
    padding: 0.8rem;
    height: 1.7rem;
  }
}
